@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-300-purple: hsl(257, 40%, 49%);
  --color-400-softmagenta: hsl(300, 69%, 71%);
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-300-purple);
  background-image: url(./images/bg-desktop.svg);
  max-width: 80%;
  margin: 2rem auto 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  margin-bottom: 50px;
}

.page-logo {
  width: 200px;
}

.img-logo {
  width: 100%;
}


#hero-section {
  display: flex;
  flex-direction: row;
  height: 28rem;
}

.hero_img img {
  width: 35rem;
}

.hero_text {
  margin: 40px;
}

h2 {
  color: white;
  font-size: 2.5rem;
  font-family: 'poppins', sans-serif;
}

h2+p {
  margin-top: 15px;
  color: white;
  font-size: 0.9rem;
  font-family: 'poppins', sans-serif;
  margin-bottom: 35px;
}

.btn {
  background-color: white;
  padding: 0.7rem 3.5rem;
  border-radius: 25px;
  color: var(--color-300-purple);
  text-decoration: none;
}

.btn:hover {
  color: white;
  background-color: var(--color-400-softmagenta);
  box-shadow: 1px 1px 10px#222121;
  transition: all 500ms;
}


.feather {
  border-radius: 50%;
  border: 1px solid #fff;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  fill: #fff;
  stroke: #fff;
  transition: all 500ms linear;
}

.feather-instagram {
  fill: transparent;
  stroke: #fff;
}

.feather:hover {
  fill: var(--color-400-softmagenta);
  stroke: var(--color-400-softmagenta);
  border-color: var(--color-400-softmagenta);
}

.feather-instagram:hover {
  fill: transparent;
  stroke: var(--color-400-softmagenta);
}

.b-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.social_icon_box {
  width: 140px;
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}

footer {
  color: #fff;
  align-items: center;
  padding-bottom: 0;
  text-align: center;
}

.attribution a {
  font-weight: bold;
  text-decoration: none;
  color: hsl(300, 64%, 66%);
  transition: all 500ms;
  font-family: poppins, sans-serif;
}

.attribution :hover {
  color: var(--color-400-softmagenta);
  font-size: 18px;
}


@media (max-width: 1115px) {
  .hero_img img {
    width: 30rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 974px) {
  body {
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  #hero-section {
    flex-direction: column;
    align-items: center;
    height: 40rem;
  }

  h2 {

    text-align: center;
    /* padding: 0 20px; */
  }

  h2+p {
    text-align: center;
  }

  .btn-cont {
    display: flex;
    justify-content: center;
  }

  .btn {
    padding: 1rem 8rem
  }

  .b-section {
    justify-content: center;
  }

  .empty {
    display: none;
  }

  .social_icon_box {
    margin-top: 6rem;
  }

}

@media (max-width: 524px) {
  .hero_img img {
    width: 25rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .social_icon_box {
    margin-top: 1rem;
  }
}